## Ejercicio de Limpieza de datos
* **Equipo:** 3
* **Grupo:** 003 (Lunes 18-21)
* **Integrantes:**
    * 1860533 De León Flores Jennifer Priscila
    * 1858788 Gallegos Luna Enrique Alejandro
    * 1860043 Rodríguez Morales Mario Alberto
    * 1862717 Ruiz Ramirez Luis Angel

### Base de datos principal
* **Nombre:** U.S. Gasoline and Diesel Retail Prices 1995-2021
* **URL:** https://www.kaggle.com/mruanova/us-gasoline-and-diesel-retail-prices-19952021

In [17]:
import pandas as pd
import numpy as np
import json
df=pd.read_csv("PET_PRI_GND_DCUS_NUS_W.csv")
print("Los datos sin manipulación son:")
print(df)

Los datos sin manipulación son:
            Date     A1     A2     A3     R1     R2     R3     M1     M2  \
0     01/02/1995  1.127  1.104  1.231  1.079  1.063  1.167  1.170  1.159
1     01/09/1995  1.134  1.111  1.232  1.086  1.070  1.169  1.177  1.164
2     01/16/1995  1.126  1.102  1.231  1.078  1.062  1.169  1.168  1.155
3     01/23/1995  1.132  1.110  1.226  1.083  1.068  1.165  1.177  1.165
4     01/30/1995  1.131  1.109  1.221  1.083  1.068  1.162  1.176  1.163
...          ...    ...    ...    ...    ...    ...    ...    ...    ...
1356  12/28/2020  2.330  2.225  2.535  2.243  2.158  2.423  2.634  2.482
1357  01/04/2021  2.336  2.227  2.549  2.249  2.160  2.437  2.639  2.484
1358  01/11/2021  2.403  2.298  2.610  2.317  2.232  2.498  2.702  2.550
1359  01/18/2021  2.464  2.351  2.688  2.379  2.285  2.579  2.759  2.601
1360  01/25/2021  2.478  2.363  2.703  2.392  2.298  2.593  2.776  2.615

         M3     P1     P2     P3     D1
0     1.298  1.272  1.250  1.386  1.104
1     1.300  1.279  1.256  1.387  1.102
2     1.299  1.271  1.249  1.385  1.100
3     1.296  1.277  1.256  1.378  1.095
4     1.291  1.275  1.255  1.370  1.090
...     ...    ...    ...    ...    ...
1356  2.858  2.889  2.770  3.031  2.635
1357  2.867  2.895  2.771  3.042  2.640
1358  2.927  2.959  2.839  3.101  2.670
1359  2.995  3.014  2.885  3.166  2.696
1360  3.014  3.033  2.900  3.191  2.716

[1361 rows x 14 columns]

Como nos enfocaremos en los precios promedio según su nivel de octanaje no si su fórmula es convencional o reformulada, además incluiremos si es Premium o Diesel, eliminamos el resto de las columnas, ya que estas tienen el precio según si son gasolinas convencionales o reformuladas, en las cuales el nivel de octanaje no importa

In [57]:
df.rename(columns={'A1':'All Grades','R1':'Regular','M1':'Midgraded','P1':'Premium','D1':'Diesel'},inplace=True)
#Con ayuda de: https://www.analyticslane.com/2019/05/06/como-cambiar-el-nombre-de-las-columnas-en-pandas/
cf=df.drop(['A2','A3','R2','R3','M2','M3','P2','P3'],axis=1) #Guardando la base que necesitamos en otra variable
#Con ayuda de: https://www.analyticslane.com/2019/03/25/como-eliminar-columnas-y-filas-en-un-dataframe-pandas/

            Date  All Grades  Regular  Midgraded  Premium  Diesel
0     01/02/1995       1.127    1.079      1.170    1.272   1.104
1     01/09/1995       1.134    1.086      1.177    1.279   1.102
2     01/16/1995       1.126    1.078      1.168    1.271   1.100
3     01/23/1995       1.132    1.083      1.177    1.277   1.095
4     01/30/1995       1.131    1.083      1.176    1.275   1.090
...          ...         ...      ...        ...      ...     ...
1356  12/28/2020       2.330    2.243      2.634    2.889   2.635
1357  01/04/2021       2.336    2.249      2.639    2.895   2.640
1358  01/11/2021       2.403    2.317      2.702    2.959   2.670
1359  01/18/2021       2.464    2.379      2.759    3.014   2.696
1360  01/25/2021       2.478    2.392      2.776    3.033   2.716

[1361 rows x 6 columns]

Nuestra base de datos no cuenta con datos nulos

In [60]:
cf.isnull().sum()

Date          0
All Grades    0
Regular       0
Midgraded     0
Premium       0
Diesel        0
dtype: int64

Creando la nueva base de datos con los datos que necesitamos únicamente

In [62]:
cf.to_csv("DatosNuevosGasolina.csv",index=False)
#Con ayuda de: https://aprendeia.com/limpieza-y-procesamiento-de-datos-con-codigo-en-python/

### Base de datos secundaria
* **Nombre:** 14 Years of Inflation (IPC) in Latino America
* **URL:** https://www.kaggle.com/jaforero/inflation-ipc-in-latam?select=Inflation.csv

In [36]:
import pandas as pd
tf=pd.read_csv("Inflation.csv",encoding='latin1') #Ayuda de: https://www.edureka.co/community/51909/unicodedecodeerror-codec-decode-position-unexpected-data
print("Los datos sin manipulación son:")
print(tf)

Los datos sin manipulación son:
             Country  Year                                               Link  \
0           Ecuador   2020  https://www.ecuadorencifras.gob.ec//indice-de-...
1        El Salvador  2020      http://www.bcr.gob.sv/bcrsite/?x21=73&lang=es
2             Panamá  2020                http://www.contraloria.gob.pa/inec/
3    Rep. Dominicana  2020                      http://www.bancentral.gov.do/
4            Bolivia  2020    https://www.bcb.gob.bo/?q=indicadores_inflacion
..               ...   ...                                                ...
243         Colombia  2007                            http://www.dane.gov.co/
244          Uruguay  2007                  http://www.ine.gub.uy/Default.asp
245           Brazil  2007  http://www.bcb.gov.br/pec/metas/tabelametasere...
246        Argentina  2007  http://www.indec.mecon.ar/nivel4_default.asp?i...
247        Venezuela  2007  http://www.ine.gov.ve/index.php?option=com_con...

                 Source Anual Rate
0         Banco Ecuador     -0.93%
1    Banco del Salvador     -0.09%
2                  INEC        NaN
3         Banco Central      5.55%
4         Banco Central      0.70%
..                  ...        ...
243                DANE      5.70%
244                 INE      8.50%
245     Banco de Brasil      4.50%
246               INDEC      8.50%
247                 INE     22.50%

[248 rows x 5 columns]

Como nos interesan cantidades, eliminaremos las columnas de la fuente así como su URL, y renombramos las columnas que nos importan al idioma español

In [37]:
tf.rename(columns={'Country':'Pais','Year':'Año','Anual Rate':'TasaAnual'},inplace=True)
rf=tf.drop(['Link','Source'],axis=1)
print(rf)

                Pais   Año TasaAnual
0           Ecuador   2020    -0.93%
1        El Salvador  2020    -0.09%
2             Panamá  2020       NaN
3    Rep. Dominicana  2020     5.55%
4            Bolivia  2020     0.70%
..               ...   ...       ...
243         Colombia  2007     5.70%
244          Uruguay  2007     8.50%
245           Brazil  2007     4.50%
246        Argentina  2007     8.50%
247        Venezuela  2007    22.50%

[248 rows x 3 columns]

Si contamos con datos nulos en esta base, en este caso 2 tasas no aparecen

In [38]:
rf.isnull().sum()

Pais         0
Año          0
TasaAnual    2
dtype: int64

Utilizando el comando dropna eliminamos estas filas

In [39]:
rf=rf.dropna(axis=0)
rf.isnull().sum()

Pais         0
Año          0
TasaAnual    0
dtype: int64

Creando un nuevo archivo con la base limpia y los datos necesarios

In [40]:
rf.to_csv("InflaciónNueva.csv",index=False)

### Extra
* **dropna:** Permite de una forma muy conveniente, filtrar los valores de una estructura de datos pandas para dejar solo aquellos no nulos. Su sintaxis es pandas.df.dropna(axis=1), donde el axis 0 se refiere a filas, el axis 1 a columnas y también se tiene el pandas.df.dropna(how="all") donde un all elimina todas las filas y/o columnas donde todos los datos sean nulos y un any servirá para eliminar las filas y/o columnas en donde al menos un elemento sea cero.

In [29]:
rf.dropna(how="any") #No elimina nada ya que no se tienen datos nulos

                País   Año Tasa Anual
0           Ecuador   2020     -0.93%
1        El Salvador  2020     -0.09%
3    Rep. Dominicana  2020      5.55%
4            Bolivia  2020      0.70%
5         Costa Rica  2020      0.89%
..               ...   ...        ...
243         Colombia  2007      5.70%
244          Uruguay  2007      8.50%
245           Brazil  2007      4.50%
246        Argentina  2007      8.50%
247        Venezuela  2007     22.50%

[246 rows x 3 columns]

* **astype:** Cambia el tipo de datos según el deseado con la sintaxis pandas.df[columna].astype(tipo de dato deseado)

In [44]:
rf.Año.astype(float)

0      2020.0
1      2020.0
3      2020.0
4      2020.0
5      2020.0
        ...
243    2007.0
244    2007.0
245    2007.0
246    2007.0
247    2007.0
Name: Año, Length: 246, dtype: float64